* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Dots", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1100ff;
}

.logo {
    width: 120px;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    padding: 40px 20px;
    background-color: #e5eaff;
}

.section-01,
.section-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #cacbff;
    padding: 25px;
    border-radius: 8px;

    width: 70%;
    max-width: 900px;
}

.section-01 ul {
    text-align: left;
    align-self: flex-start;
    margin-left: 40px;
}

.section-01 li {
    margin: 10px 0;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #cacbff;
    padding: 25px;
    border-radius: 8px;
}

.banner {
    width: 60%;
    margin-top: 30px;
    border-radius: 6px;
}

.curso {
    margin-top: 20px;
    color: #00aeff;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #1100ff;
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-top: 60px;
}

.footer p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.5;
}

strong {
    color: #1100ff;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.btn-github {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #0011ff;
    color: ghostwhite;
}

.btn-github span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btn-github:hover span {
    color: black;
}

.btn-github::before,
.btn-github::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btn-github::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-github:hover::before {
    transform: translate3d(100%, 0, 0);
}

.button-2 {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #002ec47c;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-2:disabled {
    pointer-events: none;
}

.button-2hover {
    color: #fff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-2:active {
    box-shadow: none;
    transform: translateY(0);
}
